In [4]:
import pandas as pd
import csv
import yfinance as yf


df = pd.read_csv('C:/Users/trist/code/Data/Finviz_insider/Data/AMZN.csv')
#print(df)

ticker_symbol = 'AMZN'

start_date = '2023-05-01'
end_date = '2023-09-23'

amazon_data = yf.download(ticker_symbol, start=start_date, end=end_date)

amazon_data.head()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-05-01,104.949997,105.230003,101.820000,102.050003,102.050003,74728100
2023-05-02,101.470001,103.900002,101.150002,103.629997,103.629997,73469400
2023-05-03,103.739998,105.959999,103.279999,103.650002,103.650002,65051900
2023-05-04,104.040001,105.389999,103.309998,104.000000,104.000000,45345500
2023-05-05,104.269997,105.760002,103.550003,105.660004,105.660004,56912900

In [5]:
import pandas as pd

# Example data (replace this with your actual DataFrames)
insider_trades = pd.DataFrame({
    'timestamp': ['2023-01-01', '2023-02-15', '2023-03-10'],
    'insider_activity': ['Buy', 'Sell', 'Buy'],
    # other insider trade columns
})

stock_prices = pd.DataFrame({
    'timestamp': ['2023-01-01', '2023-01-02', '2023-02-15', '2023-02-16', '2023-03-10'],
    'stock_price': [100, 105, 110, 108, 115],
    # other stock price columns
})

# Convert timestamp columns to datetime objects
insider_trades['timestamp'] = pd.to_datetime(insider_trades['timestamp'])
stock_prices['timestamp'] = pd.to_datetime(stock_prices['timestamp'])

# Specify the time window for stock prices around each insider trade
time_window_days = 3

# Perform the join based on the time window
enriched_data = pd.merge_asof(
    insider_trades,
    stock_prices,
    on='timestamp',
    direction='nearest',  # Choose the nearest timestamp within the time window
    tolerance=pd.Timedelta(days=time_window_days)
)

# Display the resulting DataFrame
print(enriched_data)

   timestamp insider_activity  stock_price
0 2023-01-01              Buy          100
1 2023-02-15             Sell          110
2 2023-03-10              Buy          115